.row{

    .img{
        padding: 0 2rem 2rem;
    }

    .btn-count {
        color: white !important;
        font-size: 1.2rem !important;
        border-color: white !important;
    }
    .total{
        font-size: 2rem;
    }
    .icon {
        cursor: pointer;
    }
}